<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>NASLOV</title>
  </head>
  <body>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>NASLOV</title>

<link href="https://fonts.googleapis.com/css?family=Montserrat|Syncopate&display=swap"" rel="stylesheet">


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>NASLOV</title>

<link href="https://fonts.googleapis.com/css?family=Montserrat|Syncopate&display=swap"" rel="stylesheet">

<style>
    body{position: relative;
        height: 100vh;
        margin: 0; 
        font-family: "Montserrat", sans-serif; 
        background-color: white}
    h1  {font-family:"Montserrat", sans-serif; 
        font-size: 35px; 
        padding-top: 10px; 
        padding-bottom: 40px}
    ul{display: table;
      margin: 0 auto;}
    #overlay {position: fixed; z-index: 1;}
</style>
</head>
    <body>

        <div class="container">

            <div class="mx-auto" align="center" style="width: 200px;">
              <h1><a href="/" style="color: black;">NASLOV</a></h1>
              </div>
            
            <div align="center">

              <div class="btn-group-vertical" role="group">
                <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
                    OPERACIJE Z MATRIKAMI
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                    <a href="/sestevanje" class="btn btn-secondary">Seštej</a>       
                    <a href="/odstevanje" class="btn btn-secondary">Odštej</a> 
                    <a href="/mnozenje" class="btn btn-secondary">Zmnoži</a>
                    <a href="/sistem_linearnih_enacb" class="btn btn-secondary">Reši sistem linearnih enacb</a>  
                </div>
            </div> 
              <div class="btn-group-vertical" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
                    LASTNOSTI MATRIK
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a href="/slede" class="btn btn-secondary">Sled</a>      
                    <a href="/transponiranje" class="btn btn-secondary">Transponiranje</a> 
                    <a href="/inverz" class="btn btn-secondary">Inverz</a>
                    <a href="/potenciranje" class="btn btn-secondary">Potenciraj</a>
                    <a href="/normiranje" class="btn btn-secondary">Normiraj</a>
                    <a href="/determiniranje" class="btn btn-secondary">Determinanta</a>
                    <a href="/obrnljivost_matrike" class="btn btn-secondary">Obrnljiva</a>
                </div>
            </div>
            
            </div>
            </div>

          {{ !base }}
          
    </body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>