% rebase('domaca.html')
<div align="center" class="home">
<p>
Pozdravljen na domači strani! Izbiraš lahko med štirimi operacijami na matrikah in sedmimi lastnostmi le-teh.
</p>
<p>
Matrike piši na sledeč način:
</p>
<table class="center">
    <tr>
        <td>
        a b c
        </td>
    </tr>

    <tr>
        <td>
        d e f.24
        </td>
    </tr>

    <tr>
        <td>
        -g h i.j
        </td>
    </tr>
</table>
<p> Torej:
<ul>
  <li>posamezne elemente v vrstici ločiš s presledki/element v sosednjem stolpcu vneseš s pomočjo presledka</li>
  <li>decimalna števila pišeš s piko</li>
  <li>v novo vrstico greš z ukazom "enter"</li>
</ul> 
</p>
<p> Mnogokrat je pomebno vnesti pravilne dimenzije matrik, da se določena funkcija izvede. Če boš matriko zapisal nepravilno
se bo to tudi izpisalo na zaslonu.  
</p>
</div>
